In [1]:
import numpy as np
import pandas as pd

In [16]:
d = {'A':[1, 2, np.nan], 'B':[5, np.nan, np.nan], 'C':[1, 2, 3]}
df = pd.DataFrame(d)
df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [6]:
# to deal with missingvals, first approach is dropna

# it will drop an entire axis if it has nan ( a tad aggressive )

df.dropna(axis=1)

   C
0  1
1  2
2  3

In [13]:
# we dropped cols with nans!

# alternatively, we can also specify a thresh
# it requires n non-na values or else its dropped

df.dropna(axis=1, thresh=1)

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [18]:
# we can also just replace missing vals

df.fillna(axis=1, value=0)

     A    B    C
0  1.0  5.0  1.0
1  2.0  0.0  2.0
2  0.0  0.0  3.0

In [ ]:
# filling in missingvals with the mean is a common approach

# KEY QUESTION: what is the best approach to deal with missing data?